<ul class="ghost-header">
  <li><a href="/js-playbook" class="folder">JS Playbook</a></li>
  <li><a href="/ruby-playbook" class="folder">Ruby Playbook</a></li>
  <li><a href="/campus-director-playbook" class="folder">Campus Director Playbook</a></li>
  <li><a href="/ios-playbook" class="folder">iOS Playbook</a></li>
  <li><a href="/python-playbook" class="folder">Python Playbook</a></li>
  <li><a href="/web-design-playbook" class="folder">Web Design Playbook</a></li>
  <li><a href="/onboarding-playbook" class="folder">Onboarding Playbook</a></li>
  <li><a href="/ultimate-faq" class="folder">Ultimate FAQ</a></li>
</ul>
